<p id="notice" class="denied"><%= notice %></p>

<h1 class="text-center home-title">Welcome to The Blog of Lamb</h1>

<div class="text-center">
  <%= link_to 'Posts', posts_path %>
</div>

<p>
  <div class="text-center lamb-language">
    <li >Albanian	mish qengji</li>
    <li>Basque	arkumea
    <li>Belarusian	бараніна
    <li>Bosnian	jagnje
    <li>Bulgarian	агнешко
    <li>Catalan	xai
    <li>Croatian	janjetina</li>
    <li>Czech	jehněčí</li>
    <li>Danish	lam</li>
    <li>Dutch	lam</li>
    <li>Estonian	lambaliha</li>
    <li>Finnish	lammas</li>
    <li>French	agneau</li>
    <li>Galician	año</li>
    <li>German	Lamm</li>
    <li>Greek	αρνί</li>
    <li>Hungarian	bárány</li>
    <li>Icelandic	lamb</li>
    <li>Irish	uan</li>
    <li>Italian	agnello</li>
    <li>Latvian	jērs</li>
    <li>Lithuanian	ėriena</li>
    <li>Macedonian	јагнешко</li>
    <li>Maltese	ħaruf</li>
    <li>Norwegian	lam</li>
    <li>Polish	jagnięcina</li>
    <li>Portuguese	Cordeiro</li>
    <li>Romanian	miel</li>
    <li>Russian	ягненок</li>
    <li>Serbian	јагњетина</li>
    <li>Slovak	jahňacie</li>
    <li>Slovenian	jagnjetina</li>
    <li>Spanish	Cordero</li>
    <li>Swedish	lamm</li>
    <li>Ukrainian	ягня</li>
    <li>Welsh	cig oen</li>
    <li>Yiddish	לאַם</li>
  </div>
</p>
